.Root {
  display: flex;
  align-items: center;
}

.paginationWrapper {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-between;

  margin-right: 2.4rem;
}

.pagesWrapper {
  cursor: pointer;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 24px;
  height: 24px;

  border-radius: 2px;

  transition:
    background-color ease 0.2s,
    color ease 0.2s;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info-900);
  }

  &.active {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);

    &:hover {
      background-color: var(--color-light-100);
    }
  }

  &:hover {
    background-color: var(--color-dark-500);
  }
}

.btn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;

  transition:
    background-color ease 0.2s,
    color ease 0.2s;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info-900);
  }

  &:disabled {
    color: var(--color-dark-100);
  }

  &:not(:disabled):hover {
    background-color: var(--color-dark-500);
  }
}

.dots {
  all: unset;

  cursor: default;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 24px;
  height: 24px;

  &:hover {
    background-color: transparent;
  }
}

.selectWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .select {
    margin-right: 1rem;
    margin-left: 0.6rem;
  }
}

.selectText {
  flex-shrink: 0;
}
