button {
  all: unset;
}

.rootBlock {
  position: relative;
  width: 100%;
}

.inputWrapper {
  position: relative;

  display: flex;
  align-items: center;

  height: 3.6rem;

  border-radius: 2px;
}

.field {
  cursor: text;

  width: 100%;
  padding: 0 1.2rem;

  font-family: inherit;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);

  background: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition: border-color 0.2s;

  &::placeholder {
    color: var(--color-dark-100);
  }

  &:focus-visible {
    border-color: var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  &.error {
    color: var(--color-danger-300);
    border-color: var(--color-danger-300);
  }

  &:not(:disabled):active {
    border: 1px solid var(--color-light-100);
  }

  &:not(:disabled):hover {
    background: var(--color-dark-700);
    outline: 1px solid var(--color-dark-100);
  }
}

.password {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 12px;

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

.hasSearchIcon {
  padding: 6px 45px;
}

.searchIcon {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 12px;

  &.disabled {
    opacity: 0.7;
  }
}

.label {
  display: flex;
  flex-direction: column;
  color: var(--color-dark-100);

  &.disabled {
    opacity: 0.7;
  }
}
