.root {
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  .panelWrapper {
    display: flex;
    gap: 2.4rem;
    align-items: flex-end;
    justify-content: center;

    margin-bottom: 36px;

    .searchInput {
      min-width: 30rem;
    }

    .tabs {
      min-width: 23rem;
    }

    .radioSlider {
      min-width: 25rem;
    }

    .clearFilterBtn {
      min-width: 16rem;
      margin-left: 1.2rem;
    }
  }
}
