@import '@styles/mixins';

.root {
  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}

.headerWrapper {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
  width: 156px;
  height: 36px;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
