.dropDownWrapper {
  display: flex;
  gap: 14px;
  align-items: center;
}

.dropDownMenuLabel {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.username {
  border-bottom: 2px dashed var(--color-light-100);
}

.email {
  color: var(--color-dark-100);
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
}
